<div class="home">
    <div class="introduction">Hello John</div>
    <div> <span class="glyphicon">&#xe163;</span></div>
    <div class="row">
        <div class="card col-4">
            <p>Your last evaluation score was </p>
            <p class="result">8.9</p>
        </div>
        <div class="card col-4">
            <p>Your main objective this year is:</p>
            <p class="result">5% PROMOTION</p>
        </div>
        <div class="col-12">
            <div class="row">

          </div>
        </div>
    </div>
</div>
