/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html, body { height: 100vh; }
body { margin: 0;
   font-family: 'Comfortaa', cursive!important;
    background:linear-gradient(27deg, rgba(248,245,241,1) 0%, rgba(191, 236, 226, 0.874) 35%, rgba(248,245,241,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.container{
  margin-left: 0px;
  margin-right: 0px;
  margin-top:1rem;
  margin-bottom: 1rem;
}

.menu-title{
  font-weight: bold;
  color:white;
  font-size: 0.8rem;
}