form{
  // display: inline-block;
  // margin: 5rem 5rem 5rem 5rem;
  // padding: 1rem;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: #343f56;
  label.form-label{
    font-weight: 300;
    font-size: 1.2rem;
  }
  .form-control{
    border: 1px solid #387c6d;
  }
  .logo{
    width: 20vh;
    padding:1.5rem;
  }
  a{
    cursor:pointer;
  }
  a:hover{
    color:white;
  }
}

.btn.btn-primary{
  background: #e9896a;
  color:#f8f5f1;
  border-color:#343f56;
}

.card-deck{
  margin:0 auto;
  flex-flow:unset;
  app-card{
    text-align: center;
  }
}

.signup{
  padding:10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    height: 100vh;
}

.title{
  letter-spacing: 1rem;
  text-align: center;
  padding:3rem;
  font-weight: bold;
}
