form{
  margin: auto;
  width: 100vh;
  padding: 15rem;
  text-align: center;
  color: #343f56;
  label.form-label{
    font-weight: 300;
    font-size: 1.2rem;
  }
  .form-control{
    border: 1px solid #387c6d;
  }
  .logo{
    width: 20vh;
    padding:1.5rem;
  }
  a{
    cursor:pointer;
  }
  a:hover{
    color:white;
  }
}

.btn.btn-primary{
  background: #e9896a;
  color:#f8f5f1;
  border-color:#343f56;
}

.card-deck{
  display: flex;
  app-card{
    padding: 1rem;
  }
}
